.house-diagram {
  width: 100%;
  height: 344px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.house-animation-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.house-rive-animation {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 393px;
  max-height: 344px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
